.wrapper {
    min-height: 900px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(https://images.unsplash.com/photo-1491975474562-1f4e30bc9468?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80);
}

.form {
    border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
    min-height: 900px;
    max-width: 450px;
    padding-top: 80px;

    @media (max-width: 600px) {
        max-width: 100%;
    }
}

.title {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-family: Greycliff CF, var(--mantine-font-family);
}