.biography {
  border-radius: 10px;
  outline: 2px solid #409C93;
  padding: 10px;
  font-weight: 500;
  min-height: 200px;
}

.hv:hover, .hv:active, .hv:focus {
  outline: 2px solid #409C93;
  border-radius: 10px;
}