.titletext {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 10px;
}


.areainput {
  min-height: 300px;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 500;
  padding: 20px;
}

.areainput:hover, .areainput:active, .areainput:focus, .areainput::before {
  outline: 2px solid #409C85;
}